.section-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-logo path {
  fill: white;
}
.footer-logo {
  width: 15rem;
}
.copyright-message {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 400;
  /* opacity: 0.6; */
}
.team-name {
  font-weight: 500;
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
}
.team-name:hover {
  text-decoration: none;
}

@media only screen and (max-width: 678px) {
  .footer-logo {
    width: 30%;
    margin: 1rem 0;
  }
  .copyright-message {
    margin: 1rem 0;
  }
}
