.section-whyhaveacat {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.whyhaveacat-short-ov {
  width: 40%;
  color: #291507;
}
.short-ov--title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
  position: relative;
}
.short-ov--title::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  width: 6rem;
  height: 0.3rem;
  background-color: #4d270c;
}
.short-ov--desc {
  margin: 4rem 0;
  font-size: 1.8rem;
  font-weight: 500;
  width: 82%;
}
.article-link {
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 0.3s;
}
.article-link:hover {
  opacity: 1;
}
.cat-pic-masonry {
  width: 50%;
  display: grid;
  grid-template-columns: 5rem 22rem 23rem;
  grid-template-rows: 16rem 22rem 8rem 2rem;
  grid-gap: 2rem;
  justify-content: end;
}
.pic-1 {
  width: 100%;
  height: 100%;
  background-image: url("../../images/image2.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  border-radius: 2rem;
  overflow: hidden;
}
.pic-2 {
  width: 100%;
  background-image: url("../../images/image3.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.pic-3 {
  width: 100%;
  background-image: url("../../images/image1.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.cat-pic-masonry img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 911px) {
  .section-whyhaveacat {
    padding-bottom: 4rem;
  }
  .whyhaveacat-short-ov {
    width: 100%;
    margin-bottom: 4rem;
  }
  .cat-pic-masonry {
    width: 100%;
    /* grid-template-columns: 20% 40% 40%;
    grid-template-rows: 16rem 22rem 8rem 2rem; */
  }
}

@media only screen and (max-width: 560px) {
  .section-whyhaveacat {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 475px) {
  .section-whyhaveacat {
    padding-bottom: 8rem;
  }

  .short-ov--desc {
    width: 100%;
  }
  .cat-pic-masonry {
    height: 40rem;
    grid-template-columns: 8rem 18rem 18rem;
    grid-template-rows: 40% 50% 20%;
  }
  .pic-2,
  .pic-3 {
    overflow: hidden;
  }
}
