.other-images-container {
  margin-bottom: 8rem;
}

.other-images-title {
  font-size: 3.6rem;
  font-weight: 600;
  color: #291507;
  margin: 2rem 0 3rem 0;
}
.other-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.other-images-img {
  width: 27.8rem;
  height: 27.8rem;
  margin: 0 0 3rem 0;
}

/* @media only screen and (max-width: 424px) {
  .other-images-container {
    width: 25rem;
    height: 25rem;
  }
} */

@media only screen and (max-width: 450px) {
  .other-images-img {
    width: 25rem;
    height: 25rem;
  }
}
@media only screen and (max-width: 302px) {
  .other-images {
    justify-content: center;
  }
}
