.other-images-container {
  margin-bottom: 8rem;
}

.other-images-title {
  font-size: 3.6rem;
  font-weight: 600;
  color: #291507;
  margin: 2rem 0 3rem 0;
}
.other-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.other-images-img {
  width: 27.8rem;
  height: 27.8rem;
  margin: 0 0 3rem 0;
}

.other-images-img img {
  text-align: center;
}
