.section-hero {
  height: 80vh;
  background-image: url("../../images/HeroImagelg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.hero-logo path {
  fill: white;
}
.hero-content {
  width: 30%;
}
.about-site {
  font-size: 2.4rem;
  color: white;
}

.search {
  position: relative;
}

.input-search {
  display: inline-block;
  width: 80%;
  height: 100%;
  margin-left: 0.5rem;
}
